Project Development Phase/Sprint 3/NODE-RED FLOW.json
[{"id":"35472fd7f27060bc","type":"tab","label":"IBM IoT-UI","disabled":false,"info":""},{"id":"a3a77f1a810193b4","type":"ibmiot in","z":"35472fd7f27060bc","authentication":"apiKey","apiKey":"7dd0c222.d9446c","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"12345","applicationId":"","deviceType":"dominators","eventType":"","commandType":"Data","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":70,"y":140,"wires":[["cbfb4b421bb3bc75","2e35ec02b4bab81b","ce466c4e79cf449e","e4fa45ac727fbcb1"]]},{"id":"cbfb4b421bb3bc75","type":"debug","z":"35472fd7f27060bc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":310,"y":220,"wires":[]},{"id":"2e35ec02b4bab81b","type":"function","z":"35472fd7f27060bc","name":"Temperature","func":"msg.payload=msg.payload.temperature\nglobal.set('t',msg.payload);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":300,"y":80,"wires":[["cbfb4b421bb3bc75","35eabaa58fc1903c","f2d7f2780131bf76"]]},{"id":"ce466c4e79cf449e","type":"function","z":"35472fd7f27060bc","name":"Humidity","func":"msg.payload=msg.payload.humidity\nglobal.set('h',msg.payload);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":280,"y":120,"wires":[["cbfb4b421bb3bc75","e05d2b6de2908b85","2a77d780fbed7f3d"]]},{"id":"35eabaa58fc1903c","type":"ui_gauge","z":"35472fd7f27060bc","name":"","group":"3c243370.98abdc","order":0,"width":0,"height":0,"gtype":"gage","title":" Temperature","label":"°C","format":"{{value}}","min":0,"max":"40","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":530,"y":80,"wires":[]},{"id":"e05d2b6de2908b85","type":"ui_gauge","z":"35472fd7f27060bc","name":"","group":"3c243370.98abdc","order":0,"width":0,"height":0,"gtype":"gage","title":"Humidity","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":520,"y":120,"wires":[]},{"id":"e4fa45ac727fbcb1","type":"function","z":"35472fd7f27060bc","name":"Soil moisture","func":"msg.payload=msg.payload.soil_moisture\nglobal.set('sm',msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":290,"y":160,"wires":[["f5a0074d52b5509e","cbc3b11eea369dfe","cbfb4b421bb3bc75"]]},{"id":"f5a0074d52b5509e","type":"ui_gauge","z":"35472fd7f27060bc","name":"","group":"3c243370.98abdc","order":7,"width":0,"height":0,"gtype":"gage","title":" Soil Moisture","label":"","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":530,"y":200,"wires":[]},{"id":"f2d7f2780131bf76","type":"ui_text","z":"35472fd7f27060bc","group":"3c243370.98abdc","order":5,"width":0,"height":0,"name":"","label":"Temperature (°C)","format":"{{msg.payload}}","layout":"row-spread","x":550,"y":40,"wires":[]},{"id":"2a77d780fbed7f3d","type":"ui_text","z":"35472fd7f27060bc","group":"3c243370.98abdc","order":5,"width":0,"height":0,"name":"","label":" Humidity (%)","format":"{{msg.payload}}","layout":"row-spread","x":530,"y":160,"wires":[]},{"id":"cbc3b11eea369dfe","type":"ui_text","z":"35472fd7f27060bc","group":"3c243370.98abdc","order":5,"width":0,"height":0,"name":"","label":"Soil Moisture","format":"{{msg.payload}}","layout":"row-spread","x":530,"y":240,"wires":[]},{"id":"61780937254fda8d","type":"inject","z":"35472fd7f27060bc","name":"HTTP Inject","repeat":"10","crontab":"","once":true,"onceDelay":"0.1","topic":"","payload":"","payloadType":"date","x":110,"y":280,"wires":[["f1c89617af4b1290"]]},{"id":"f1c89617af4b1290","type":"http request","z":"35472fd7f27060bc","name":"","method":"GET","ret":"obj","paytoqs":"ignore","url":"http://api.openweathermap.org/data/2.5/weather?q=Coimbatore&units=metric&appid=577a1cbdcb2a11d51cc74f5f5962791a","tls":"","persist":false,"proxy":"","authType":"","senderr":false,"x":270,"y":280,"wires":[["89aea0ebb3edb5fc","f768ba3610765e3b","f8eca35e4bdce0d9"]]},{"id":"89aea0ebb3edb5fc","type":"function","z":"35472fd7f27060bc","name":"TemperatureAPI","func":"msg.payload=msg.payload.main.temp\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":460,"y":280,"wires":[["5968d9bf05407803","20e94137baa79eaf"]]},{"id":"5968d9bf05407803","type":"ui_gauge","z":"35472fd7f27060bc","name":"","group":"5c872dc1.21f164","order":8,"width":0,"height":0,"gtype":"gage","title":"Temperature","label":"°C","format":"{{value}}","min":0,"max":"40","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":630,"y":320,"wires":[]},{"id":"8742bc8385bdba4e","type":"ui_gauge","z":"35472fd7f27060bc","name":"","group":"5c872dc1.21f164","order":9,"width":0,"height":0,"gtype":"gage","title":"Humidity","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":620,"y":360,"wires":[]},{"id":"f768ba3610765e3b","type":"function","z":"35472fd7f27060bc","name":"Humidity","func":"msg.payload=msg.payload.main.humidity\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":320,"wires":[["8742bc8385bdba4e","753dc5c0e354e655"]]},{"id":"20e94137baa79eaf","type":"ui_text","z":"35472fd7f27060bc","group":"5c872dc1.21f164","order":5,"width":0,"height":0,"name":"","label":"Real-time Temperature (°C)","format":"{{msg.payload}}","layout":"row-spread","x":680,"y":280,"wires":[]},{"id":"753dc5c0e354e655","type":"ui_text","z":"35472fd7f27060bc","group":"5c872dc1.21f164","order":5,"width":0,"height":0,"name":"","label":"Real-time Humidity (%)","format":"{{msg.payload}}","layout":"row-spread","x":670,"y":400,"wires":[]},{"id":"f8eca35e4bdce0d9","type":"function","z":"35472fd7f27060bc","name":"FeelsLike","func":"msg.payload=msg.payload.main.feels_like\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":440,"y":420,"wires":[["902060e753d392f9","e7662e95c55dc705"]]},{"id":"902060e753d392f9","type":"ui_gauge","z":"35472fd7f27060bc","name":"","group":"5c872dc1.21f164","order":8,"width":0,"height":0,"gtype":"gage","title":"FeelsLike Temperature","label":"°C","format":"{{value}}","min":0,"max":"40","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":660,"y":440,"wires":[]},{"id":"e7662e95c55dc705","type":"ui_text","z":"35472fd7f27060bc","group":"5c872dc1.21f164","order":5,"width":0,"height":0,"name":"","label":"FeelsLike Temperature (°C)","format":"{{msg.payload}}","layout":"row-spread","x":680,"y":480,"wires":[]},{"id":"5c21bf4fa116dc8d","type":"ibmiot out","z":"35472fd7f27060bc","authentication":"apiKey","apiKey":"7dd0c222.d9446c","outputType":"cmd","deviceId":"12345","deviceType":"dominators","eventCommandType":"blink","format":"json","data":"Data","qos":0,"name":"IBM IoT","service":"registered","x":760,"y":600,"wires":[]},{"id":"39ad8a508eb6dc7b","type":"ui_button","z":"35472fd7f27060bc","name":"MOTOR ON","group":"95ec373b.008dd8","order":1,"width":4,"height":2,"passthru":false,"label":"WaterPump ON","tooltip":"","color":"","bgcolor":"#008000","icon":"","payload":"1","payloadType":"str","topic":"","topicType":"str","x":110,"y":520,"wires":[["b23165daf51763c6"]]},{"id":"770395608221db24","type":"ui_button","z":"35472fd7f27060bc","name":"MOTOR OFF","group":"95ec373b.008dd8","order":2,"width":4,"height":2,"passthru":false,"label":"WaterPump OFF","tooltip":"","color":"","bgcolor":"#FF0000","icon":"","payload":"0","payloadType":"str","topic":"","topicType":"str","x":120,"y":560,"wires":[["b23165daf51763c6"]]},{"id":"b23165daf51763c6","type":"function","z":"35472fd7f27060bc","name":"MOTOR_STATUS_CHECK","func":"if(msg.payload ==\"1\")\n    msg.payload = '{\"motor\":\"ON\"}'\nelse\n    msg.payload = '{\"motor\":\"OFF\"}'\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":360,"y":540,"wires":[["42f923c8791cbbec","2450bb43e01c37cb"]]},{"id":"42f923c8791cbbec","type":"function","z":"35472fd7f27060bc","name":"Status","func":"var data=JSON.parse(msg.payload);\nmsg.payload=data.motor;\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":570,"y":520,"wires":[["7f5ed53c081b81f7","5f981d5c22b77e7f","f7352039a44bf1d2"]]},{"id":"2450bb43e01c37cb","type":"json","z":"35472fd7f27060bc","name":"MOTOR","property":"payload","action":"","pretty":false,"x":560,"y":600,"wires":[["5c21bf4fa116dc8d","2f0cb2bd52e3dc89"]]},{"id":"7f5ed53c081b81f7","type":"ui_text","z":"35472fd7f27060bc","group":"95ec373b.008dd8","order":3,"width":0,"height":0,"name":"","label":"MOTOR STATUS:","format":"{{msg.payload}}","layout":"row-spread","x":750,"y":520,"wires":[]},{"id":"5f981d5c22b77e7f","type":"ui_toast","z":"35472fd7f27060bc","position":"top right","displayTime":"3","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":true,"topic":"","name":"Notif","x":910,"y":520,"wires":[]},{"id":"f7352039a44bf1d2","type":"ui_audio","z":"35472fd7f27060bc","name":"Audio","group":"95ec373b.008dd8","voice":"Google UK English Male","always":true,"x":710,"y":560,"wires":[]},{"id":"2f0cb2bd52e3dc89","type":"debug","z":"35472fd7f27060bc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":790,"y":680,"wires":[]},{"id":"a44cb3ccb9254846","type":"http in","z":"35472fd7f27060bc","name":"","url":"/data","method":"get","upload":false,"swaggerDoc":"","x":100,"y":640,"wires":[["91fe5804c27b5419"]]},{"id":"a3694fbd0d7b559a","type":"http response","z":"35472fd7f27060bc","name":"","statusCode":"","headers":{},"x":450,"y":640,"wires":[]},{"id":"91fe5804c27b5419","type":"function","z":"35472fd7f27060bc","name":"","func":"msg.payload={\n    \"temp\":global.get('t'),\n    \"Humidity\":global.get('h'),\n    \"Soil moisture\":global.get('sm')\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":280,"y":640,"wires":[["a3694fbd0d7b559a"]]},{"id":"2ad02b34dfc62e4c","type":"http in","z":"35472fd7f27060bc","name":"","url":"/control","method":"get","upload":false,"swaggerDoc":"","x":290,"y":700,"wires":[["f91faca3cbc44a30","5010a0ae0480eaad","5c21bf4fa116dc8d"]]},{"id":"5010a0ae0480eaad","type":"http response","z":"35472fd7f27060bc","name":"","statusCode":"","headers":{},"x":490,"y":740,"wires":[]},{"id":"f91faca3cbc44a30","type":"debug","z":"35472fd7f27060bc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":510,"y":700,"wires":[]},{"id":"7dd0c222.d9446c","type":"ibmiot","name":"","keepalive":"60","serverName":"zxnybt.messaging.internetofthings.ibmcloud.com","cleansession":true,"appId":"","shared":false},{"id":"3c243370.98abdc","type":"ui_group","name":"","tab":"ef55bc692cde19ca","order":1,"disp":true,"width":"6","collapse":false},{"id":"5c872dc1.21f164","type":"ui_group","name":"Realt-time Weather","tab":"8314a149.d930b","order":1,"disp":true,"width":"6","collapse":false},{"id":"95ec373b.008dd8","type":"ui_group","name":"Motor Control","tab":"e07a6d62.98f32","order":1,"disp":true,"width":"8","collapse":false},{"id":"ef55bc692cde19ca","type":"ui_tab","name":"Smart Farmation","icon":"dashboard","disabled":false,"hidden":false},{"id":"8314a149.d930b","type":"ui_tab","name":"Real Time Weather","icon":"dashboard","disabled":false,"hidden":false},{"id":"e07a6d62.98f32","type":"ui_tab","name":"Controls","icon":"dashboard","disabled":false,"hidden":false}]